@import 'variables.scss';

.feed-item {
    position: relative;
    display: block;
    margin-bottom: $theme-spacing/2;
    margin-left: $theme-spacing/2;
    margin-right: $theme-spacing/2;

    h2 {
        font-size: 1.8em;
        text-align: center;
    }
}

.feed-item-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid transparentize($color: #fff, $amount: 0.8);
    padding: $theme-spacing/2 0;
    border-radius: 4px;
    background: transparentize($color: #fff, $amount: 0.9);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.feed-container {
    display: block;
    position: absolute;
    top: $theme-spacing/2;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.feed-item-avatar {
    position: relative;
    svg {
        top: -6px;
        right: -6px;
        position: absolute;
    }
}

.feed-item-score {
    font-weight: bold;
    font-size: 2em;
    padding: 0 $theme-spacing/8;
}

.feed-item-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 $theme-spacing/2;
    padding-top: $theme-spacing/2;
    opacity: 0.6;
    font-size: 0.65em;
}

.MuiInput-underline:after {
    border-bottom-color: $pink !important;
}

.feed .feed-filter {
    padding-top: 8px;
    color: white;

    .MuiSelect-icon {
        color: white;
    }
}
