@import 'variables.scss';

.user-stats {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: $theme-spacing/2;
    background-color: $dark-blue;
    border-radius: 6px;

    .row,
    .column {
        margin: $theme-spacing/8;
    }

    .user-stats-item {
        padding: $theme-spacing/4 $theme-spacing/6;
        border: transparentize(#fff, 0.9) 1px solid;
        border-radius: 6px;

        h3 {
            font-size: 0.9em !important;
            padding-bottom: $theme-spacing/4;
        }
    }

    &.dialog-embedded {
        padding: $theme-spacing/4;
        background-color: transparent;
        border: transparentize(#000, 0.9) 1px solid;

        .user-stats-item {
            background: transparentize($dark-blue, 0.95);
        }
    }
}
