@import 'variables.scss';

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .page-header-title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img {
        padding-right: $theme-spacing/3;
    }

    .page-header-action {
        position: absolute;
        top: $theme-spacing/2;
        right: $theme-spacing/2;
    }

    .page-title-name {
        font-weight: 600;
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    padding-bottom: $theme-spacing/1.5;
}
