@import 'variables.scss';

.profile {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.profile-user {
    padding-bottom: $theme-spacing/2;

    &-name,
    &-email {
        padding-top: $theme-spacing/4;
    }
}
