@import 'variables.scss';

.user-avatar {
    display: inline-block;
    text-align: center;

    .user-avatar-photo {
        position: relative;
        overflow: hidden;
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3) inset;
    }

    .user-avatar-name {
        font-size: 0.7em;
        padding-top: $theme-spacing/4;
    }

    .user-avatar-email {
        padding-top: $theme-spacing/4;
    }

    &.highlight {
        .user-avatar-photo {
            box-shadow: 0 0 0 4px $pink inset;
        }
    }

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    &.gold {
        .user-avatar-photo {
            box-shadow: 0 0 0 4px inset $gold,
                0 0 6px 8px transparentize($gold, 0.6);
        }
    }

    &.silver {
        .user-avatar-photo {
            box-shadow: 0 0 0 4px $silver,
                0 0 6px 8px transparentize($silver, 0.6);
        }
    }

    &.bronze {
        .user-avatar-photo {
            box-shadow: 0 0 0 4px inset $bronze,
                0 0 6px 4px transparentize($bronze, 0.6);
        }
    }
}
