@import 'variables.scss';

.create-match {
    padding-bottom: $theme-spacing/2;
}

.close-link {
    opacity: 0.8;
    text-decoration: none;
    color: white;
    display: flex;
    font-weight: bold;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.create-match {
    .form-section-title {
        margin-top: $theme-spacing/2;
        &:first-child {
            margin-top: 0;
        }
    }
}

button.pink-button {
    align-self: center;
    justify-self: flex-start;
    color: white;
    background: $pink;
    border-radius: 99em;
    padding: 0.5em 2em;
    text-transform: none;
    font-weight: 400;

    &:hover {
        background: darken($pink, 10);
    }

    &:disabled {
        opacity: 0.3;
        color: white;
    }
}

.team-list-container {
    display: block;
    padding-top: $theme-spacing/2;
    position: relative;
}
.team-list {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    padding-bottom: $theme-spacing/2;
}

.team-list-item {
    display: inline-block;
    padding-right: $theme-spacing/2;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;

    .scoreboard-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $theme-spacing/2;
    }

    .scoreboard-icon-wrapper {
        border: 2px solid $blue;
        border-radius: 4px;
        padding: 2px 3px;
        padding-bottom: 0px;
        flex: 2;
        * {
            color: $blue !important;
        }
    }

    .scoreboard-counter {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .scoreboard-team-members {
        justify-content: space-between;
        display: flex;
        flex-direction: row;

        .user-avatar {
            padding: $theme-spacing/4;
        }
    }

    input[type='number'] {
        background: none;
        outline: none;
        border: none;
        color: white;
        backface-visibility: hidden;
        text-align: center;
        font-weight: bold;
        font-size: 3em;
        width: 1.5em;
        padding: 0 5px;
        -moz-appearance: textfield;

        // Prevent IOS field zooming
        &:active {
            font-size: 3em;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.scoreboard-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-match {
    display: block;
    text-align: center;
    width: 100%;
    margin: $theme-spacing/4 0 !important;
}
